$bg-color: #ffbea7;
$header-color: #7A7CFE;

body, html{width: 100%; height: 100%; padding: 0; margin: 0}
body{
    background-color: $bg-color
}

#root {
    width: 100%;
    height: 100%;
}
.gameBG{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: auto;
    margin: 0 auto;
    background-image: url('../images/background-game.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header{
    background-color: $header-color;
    color: #FFF;
    padding: 20px 0;
    font-size: 25px;
}

.header .container div {
    padding: 0 50px;
}

.header a{
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}

.header a:hover{
    color: lighten(#EBBA97, 10 )
}